<form  [formGroup]="applyForm" (ngSubmit)="sendForm()">
  <div class="field grid">
    <label for="firstname3" class="col-fixed" style="width: 120px"
      >帳號 :
    </label>
    <div class="col">
      <input
        id="firstname3"
        type="text"
        class="text-base text-color surface-overlay p-2 border-1 border-solid  border-round appearance-none outline-none focus:border-primary "
        formControlName="userName"
      >
      <span *ngIf="applyForm.get('userName')?.invalid && applyForm.get('userName')?.touched">請輸入帳號</span>
    </div>
  </div>
  <div class="field grid">
    <label for="lastname3" class="col-fixed" style="width: 120px"
      >密碼 :
    </label>
    <div class="col">
      <input
        id="lastname3"
        type="text"
        class="text-base text-color surface-overlay p-2 border-1 border-solid  border-round appearance-none outline-none focus:border-primary "
        formControlName="password"
      />
    </div>
  </div>
  <div class="field grid">
    <label for="lastname3" class="col-fixed" style="width: 120px"
      >信箱 :
    </label>
    <div class="col">
      <input
        id="lastname3"
        type="email"
        class="text-base text-color surface-overlay p-2 border-1 border-solid  border-round appearance-none outline-none focus:border-primary"
        formControlName="email"
      />
    </div>
  </div>
  
  <p-button label="Submit" type="submit"></p-button>
  <!-- <button type="submit" [routerLink]="'/home'" [queryParams]="{name: 'Leo'}">送出</button> -->
  

  <!-- <div>
		暗語: <input type="text" formControlName="secret">
    </div> -->
</form>
<p *ngIf="showSecret">
  <span style="color:blue">這是一個隱藏的秘密</span>
</p>
{{applyForm.value |json}}


