<form action="#" method="post">
  <div class="field grid">
    <label for="firstname3" class="col-fixed" style="width: 120px"
      >帳號 :
    </label>
    <div class="col">
      <input
        id="firstname3"
        type="text"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary"
      />
    </div>
  </div>
  <div class="field grid">
    <label for="lastname3" class="col-fixed" style="width: 120px"
      >密碼 :
    </label>
    <div class="col">
      <input
        id="lastname3"
        type="text"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary ng-invalid ng-dirty"
      />
    </div>
  </div>
  <div class="field grid">
    <label for="lastname3" class="col-fixed" style="width: 120px"
      >再次輸入密碼 :
    </label>
    <div class="col">
      <input
        id="lastname3"
        type="text"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary ng-invalid ng-dirty"
      />
    </div>
  </div>
  <div class="field grid">
    <label for="lastname3" class="col-fixed" style="width: 120px"
      >信箱 :
    </label>
    <div class="col">
      <input
        id="lastname3"
        type="text"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary"
      />
    </div>
  </div>
  
  <p-button label="Submit" [routerLink]="'/home'" [queryParams]="{name: 'Leo'}"></p-button>
  
</form>
